
<% @posts.each do |post|%>
	<div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
            <img src="img/s1.png" alt="">
            <h4><%= link_to post.title, post%></h4>
            <p><%=  post.body%></p>
            </div> <!-- ITEM END -->
<% end %>
